{%extends "::base.html.twig"%}

{% block body %}
    <div class="container">
        <div class="row">
            <div style="margin-bottom: 50px;">
                <h2 style="text-align: center;" class="text-primary title">Nos voitures:</h2>
                <p class="text-center sub-title">Toutes nos voitures sont garanties 1 an et certifié avec le CarPass</p>
            </div>
        </div>
    </div>
    <div class="last-cars">
        <div class="container-fluid">
            <div class="row">
                {% for voiture in Voitures  %}
                    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                        <div class="card">
                            <div class="card-image">
                                <img class="card-img-top" src="/KZC/web/uploads/images/voitures/{{ voiture.image }}">
                            </div>
                            <div class="card-block">
                                <span class="card-title mt-3">{{ voiture.marque }}</span>
                                <span class="card-title mt-3">{{ voiture.modele }}</span>
                                <div class="card-text ">
                                    <p>{{ voiture.description | raw}}</p>
                                    <p class="card-prix"> {{ voiture.prix  }} €</p>
                                    <p class="card-center">
                                        <span class="km"><i class="fa fa-road" aria-hidden="true"></i> {{ voiture.km  }} </span>
                                        <span class="year"><i class="fa fa-calendar" aria-hidden="true"></i> {{ voiture.annee }} </span>
                                    </p>

                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="text-center">
                                    <a class="btn btn-primary" href="{{ path('kzc_display_voiture', {'id':voiture.id}) }}" >Voir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}