{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

 <div id="login-overlay" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel" style="text-align: center;">Se connecter</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="well">
                                <form id="loginForm" method="POST" action="{{ path("fos_user_security_check") }}" novalidate="novalidate">
                                    <div class="form-group">
                                        {% if csrf_token %}
                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                        {% endif %}
                                        <label for="username" class="control-label">{{ 'Email'|trans }}</label>
                                        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" title="Entrez votre mail" placeholder="example@gmail.com">
                                        <span class="help-block"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="control-label">{{ 'Mot de passe'|trans }}</label>
                                        <input type="password" class="form-control" id="password" name="_password" value="" required="required" title="Entrez votre mot de passe">
                                        <span class="help-block"></span>
                                    </div>
                                    <div id="loginErrorMsg" class="alert alert-error hide">Wrong username og password</div>
                                    <div class="checkbox">
                                        <label for="remember_me">
                                            <input type="checkbox" name="_remember_me" id="remember_me">{{ 'Rester connecter'|trans }}
                                        </label>

                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">Connexion</button>

                                </form>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <p class="lead">Inscrivez-vous <span class="text-success">GRATUITEMENT</span></p>
                            <ul class="list-unstyled" style="line-height: 2">
                                <li><span class="fa fa-check text-success"></span> Contact facilité</li>
                                <li><span class="fa fa-check text-success"></span> Evaluation de votre véhicule </li>
                                <li><span class="fa fa-check text-success"></span> Simplicité</li>
                                <li><span class="fa fa-check text-success"></span> Rapidité</li>
                            </ul>
                            <p><a href="{{ 'register' }}" class="btn btn-primary btn-block">Inscription</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>