{%extends "::base.html.twig"%}


{% block body %}



        <div class="container text-center" id="features">
            <div class="row">
                <div class="service-heading-block">
                    <h2 class="text-center text-primary title">Bienvenue sur le site de kazemicars.be</h2>
                    <p class="text-center sub-title">Nous avons ouvert notre nouveau garage sur Wavre.<br/> N'hésitez pas à nous rendre visite ou à nous téléphoner</p>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="text-center feature-block">
                <span class="fb-icon color-info">
                  <i class="fa fa-car" aria-hidden="true"></i>
                </span>
                        <h4 class="color-warning">Voiture</h4>
                        <p class="">Toutes nos voitures sont vendue avec le CarPass garantissant le kilométrages réel.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="text-center feature-block">
                <span class="fb-icon color-warning">
                  <i class="fa fa-desktop" aria-hidden="true"></i>
                </span>
                        <h4 class="color-info">Site</h4>
                        <p class="">Vous trouverez ici toute nos voitures qui sont en ventes dans notre magasin.</p>

                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="text-center feature-block">
                <span class="fb-icon color-success">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
                        <h4 class="color-success">Email</h4>
                        <p class="">Si vous nous contacter par mail, nous vous garantissons une réponse dans l'heure.</p>

                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="text-center feature-block">
                <span class="fb-icon color-danger">
                  <i class="fa fa-question" aria-hidden="true"></i>
                </span>
                        <h4 class="color-danger">Une question</h4>
                        <p class="">N'hésitez pas à prendre contact avec nous. Nous sommes là pour vous. </p>

                    </div>
                </div>
            </div>

        </div>

    <hr>

    <div class="last-cars">
        <div class="container">
            <h2>Nos dernières voitures:</h2>
            <div class="row">

                {% for voiture in Voitures  %}
                    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                        <div class="card">
                            <div class="card-image">
                                <img class="card-img-top" src="/KZC/web/uploads/images/voitures/{{ voiture.image }}">
                            </div>
                            <div class="card-block">
                                <span class="card-title mt-3">{{ voiture.marque }}</span>
                                <span class="card-title mt-3">{{ voiture.modele }}</span>
                                <div class="card-text ">
                                    <p class="card-prix"> {{ voiture.prix  }} €</p>
                                    <p class="card-center">
                                        <span class="km"><i class="fa fa-road" aria-hidden="true"></i> {{ voiture.km  }} </span>
                                        <span class="year"><i class="fa fa-calendar" aria-hidden="true"></i> {{ voiture.annee }} </span>
                                    </p>

                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="text-center">
                                    <a class="btn btn-primary" href="{{ path('kzc_display_voiture', {'id':voiture.id}) }}" >Voir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
